body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    background-image: url(img/background_lover.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: 'baskervville';
}

.h1{
    font-size: 3em;
}

.baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }

.general {
    width: 100%;
    max-width: 600px;

    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding-top: 20px;
}
.header{
    width: 90%;
}
.bio{
    background-color: white;
}
.photo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.photo_1{
    background-image: url(img/emmaxiola_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.photo_2{
    background-image: url(img/emmaxiola_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.bloc_photo{
    width: 45%;
    height: 200px;
    background-color: blueviolet;
}
.lien{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;

    margin-bottom: 15px;

}
.liens{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
a{
    color: black;
    font-style: normal;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.icon{
    width: 36px;
    height: 30px;
    background-color: white;
    margin-left: 10px;
}
.instagram{
    background-image: url(img/icon_instagram.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.telegram{
    background-image: url(img/icon_telegram.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tiktok{
    background-image: url(img/icon_tiktok.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.chatlove{
    background-image: url(img/icon_love-chat.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.photomaster{
    background-image: url(img/emmaxiola_Floutté.jpg);
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-floute{
    background-image: url(img/emmaxiola_Floutté.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.photoprive{
    background-color: rgb(255, 193, 239);
    border: none;
    margin-bottom: 30px;
}
.appel-action{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}
.photo_3{
    background-image: url(img/emmaxiola_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.photo_4{
    background-image: url(img/emmaxiola_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.photo_5{
    background-image: url(img/emmaxiola_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.photo_6{
    background-image: url(img/emmaxiola_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}